<%- include ('../partials/header') %>
  <!--Contact list page -->

  <main class="container">
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <div>
            <a href="/contactlist/add" class="btn btn-primary align-self-end" role="button">
                <i class="fas fa-plus-circle"></i> 
                Add a new Item
            </a>                
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="contactListTable">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">Email</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= ContactList[count].name %></td>
                        <td class="text-center"><%= ContactList[count].number %></td>
                        <td class="text-center"><%= ContactList[count].email %></td>
                        <!-- Edit button -->
                        <td class="text-center">
                            <a href="/contactlist/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>

                        <!-- Delete button -->
                        <td class="text-center">
                            <a href="/contactlist/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
<%- include ('../partials/footer') %>